/* Write your CSS here! */
body {
    background-color: #FB5912;
}

img,#name {

    width: 350px;
    height: 350px;
    border-radius: 50%;
}

h1,
h2,
h3 {
    color: #3300CC;
    position: 0, 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 80px;
}

h2 {
    position: center;
    left: 300px;

}

p.ricechickenredletter {
    color: blue;
}

#headingnoodle {
    color: aquamarine;
}

#mainHeading{
    color: red;
}

.funParagraph {
    color: green;
}
/* p{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  } */